astroid==2.4.2
click==7.1.2
isort==5.6.4
lazy-object-proxy==1.5.1
mccabe==0.6.1
numpy==1.19.4
pandas==1.1.4
pycallgraph==1.0.1
pylint==2.6.0
PyQt5==5.15.1
pyqt5-plugins==5.15.1.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.15.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
qt5-applications==5.15.1.1
six==1.15.0
SQLAlchemy==1.3.20
toml==0.10.2
typed-ast==1.4.1
wrapt==1.12.1
xlrd==1.2.0
